html, body {
    margin: 0;
    padding: 0;
}
header, footer {
    background: #2e354f;
    color: white;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    width:100%;
}
header {
    top: 0;
    height: 10%; 
    display: flex;
}
footer {
    bottom: 1px;
    height: auto;
    padding: 5px;
}
#content {
    position: absolute;
    overflow: auto;
    top:12%;
}
.container {
    width: 70%;
    margin: auto auto 20px;
    background: rgb(226, 226, 226);
}
.inner-container {
    background: white;
    border-radius: 40px;
    border: 20px solid rgb(226, 226, 226);
    padding: 0 10px;
    
}

h1, h3 {
    text-align: center;
    width: 70%;
    margin: auto;
}

