html, body {
    margin: 0;
    padding: 0;
    font-size: 20px;
}
header, footer {
    background: #2e354f;
    color: white;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    width:100%;
}
header {
    top: 0;
    height: 10%;
    display: flex;
}
footer {
    bottom: 0;
    height: auto;
    padding: 5px;
}
.u-list {
    margin: auto;
    text-align: center;
}
li{
    display: inline-block;
    font-size: 1.2em;
    padding: 1% 2% 1% 0;
}
#no-list {
    font-size: .8em;
    display: none;
}

#content {
    position: absolute;
    overflow: auto;
    top:12%;
    bottom: 5%;
}
.container {
    width: 90%;
    margin: auto auto 20px;
    background: rgb(226, 226, 226);
}
.inner-container {
    background: white;
    border-radius: 40px;
    border: 20px solid rgb(226, 226, 226);
    padding: 0 10px;
    
}

h1, h3 {
    text-align: center;
    width: 70%;
    margin: auto;
}
h1 {
    font-size: 2.5em;
}
h3 {
    font-size: 1.2em;
}

#table-para {
    font-family: sans-serif;
    text-align: center;
    font-size: 1em;
}

.image-container {
    width: 90%;
    padding: 5%;
}
#image {
    width: 100%;
    box-shadow: 5px 10px rgb(185, 185, 185);
}
#image-title {
    text-align: center;
    font-size: 1.2em;
    font-family: Segoe UI;
    font-weight: bold;
}
.row {
    display: table;
    margin: auto;
  }
.column-3 {
    padding: 1%;
    float: left;
    width: 31%;
  }
.column-2 {
    padding: 1%;
    float: left;
    width: 48%;
  }
@media screen and (max-width: 500px) {
    .column-3, .column-2 {
      width: 90%;
      padding: 5%;
    }
    #html, body {
        font-size: 10px;
    }
    .u-list {
        display: none;
    }
    #no-list {
        display: block;
    }
  }


